/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}

/* Header Styles */
header {
  background: linear-gradient(135deg, #1f316f, #3a539b);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  transition: transform 0.3s;
}

header h1:hover {
  transform: scale(1.05);
}

/* Navigation Bar */
nav {
  background: linear-gradient(90deg, #7C93C3, #5a74a6);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease, background 0.3s ease;
  padding: 0px 15px;
  border-radius: 5px;
}

.nav-links a:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.3);
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Personal Information Section */
.personal-info-section {
  margin: 20px;
}

.personal-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.name-icon, .id-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.name-text, .id-text {
  font-size: 16px;
  color: #000;
}

/* Section Title */
h2 {
  margin-top: 0;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
}

/* Paragraphs */
p {
  margin-bottom: 10px;
}

/* Buttons */
button {
  background-color: #55679C;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #000;
  transform: scale(1.05);
}

.mental-health-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.mental-health-icon {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

/* BMI Form Container */
.bmi-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bmi-form {
  padding: 20px;
  text-align: center;
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-points {
    list-style: none;
    padding: 0;
}

.custom-points li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.custom-points li span {
    color: #4CAF50; 
    margin-right: 10px;
    font-size: 18px;
}

.bmi-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.bmi-underweight .bmi-icon {
  background-color: #4a90e2;
}

.bmi-normal .bmi-icon {
  background-color: #28a745;
}

.bmi-overweight .bmi-icon {
  background-color: #ffc107;
}

.bmi-obese .bmi-icon {
  background-color: #dc3545;
}
